<% if query.present? && phones.empty? %>
  <p>Nothing found by query '<%= query %>'</p>
<% end %>

<% phones.each do |phone| %>
  <div class="phone-list-item">
    <%= image_tag phone.image_url, alt: phone.name %>
    <p>
      <strong>
        <%= phone.brand_name %><br/><%= phone.name %>
      </strong>
    </p>
  </div>
<% end %>
