<%= image_tag @phone.image_url %>

<% @phone.specs.each do |specs| %>
  <h2><%= specs[:group] %></h2>
  <table class="table">
    <% specs[:specs].each do |spec| %>
      <tr>
        <td><%= spec[:title] %></td>
        <td><%= simple_format spec[:info] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
