<%= select_tag :phones,
               options_from_collection_for_select(phones, 'code', 'name'),
               include_blank: true,
               id: 'phones-select',
               class: 'input'
%>
