<div class="blocks">
  <div class="block block-1">
    <div class="block-content">
      <h1>Select a phone</h1>
      <div id="brand-select-container">
        <%= select_tag :brands, options_from_collection_for_select(@brands, 'code', 'name'), include_blank: true, id: 'brands-select', class: 'input' %>
      </div>

      <div id="phones-select-container">
      </div>

      <div id="phone-container">
      </div>
    </div>
  </div>

  <div class="block block-2">
    <div class="block-content">
      <h1>Find a phone</h1>
      <div id="search-input-container">
        <%= text_field_tag :search, '', id: 'phone-search-input', class: 'input', placeholder: 'Enter phone name' %>
      </div>
      <div id="phones-container">
      </div>
    </div>
  </div>
</div>
