body {
  background-color: #F7F6F1;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  margin: 10px auto;
  min-height: 1000px;
}

#brand-select-container,
#phones-select-container,
#phone-container,
#phones-container,
#search-input-container {
  margin: 10px 0;
}
.blocks {
  width: 100%;
  .block {
    width: 50%;
  }
  .block-content {
    padding: 20px;
  }
  .block-1 {
    float: left;
  }
  .block-2 {
    float: right;
  }
}

.input {
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.table {
  td {
    padding: 2px 8px 2px 0;
  }
}
