<!DOCTYPE html>
<html>
  <head>
    <title>Simplex testing 2016 - PV</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper clearfix">
      <%= yield %>
    </div>
  </body>
</html>
